<h1>Welcome to Movie Lovers! Search</h1>
<form action='/search' method='post'>
    <input type='text' name='title_movie' placeholder='Title movie...' autofocus>
    <button name='type' value='search' type='submit'>Search</button>
    <button name='type' value='lucky' type='submit'>I'm Feeling Lucky</button>
</form>