<h1>Login</h1>
<form action='/validate' method='post'>
    <p><input type='text' name='email' placeholder='email...'></p>
    <p><input type='password' name='password' placeholder='********'></p>
    <p><button type='submit'>Sign in</button></p>
</form>