<h4>Create new task</h4>
<form action='/task_create' method='post'>
    <input type='text' name='task_text' placeholder='Task...' autofocus> 
    <button type='submit'>Save</button>
</form>
<h6><a href='/tasks'>Go to Tasks...</a></h6>
