<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>ASCII Art!</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <%= yield %>
    </body>
</html>